# TAREA N2 ANALISIS DE DATOS CON PYTHON

primero importamos las librerias a utilizar para limpiar la base de datos
-----
pandas y numpy

In [17]:
import numpy as np
import pandas as pd

#import matplotlib.pyplot as plt

importamos el archivo con los datos y creamos el dataset

In [18]:
data = pd.read_csv('prueba.csv')

In [19]:
data.describe()

                 39            13          2174             0
count  32558.000000  32560.000000  32560.000000  32560.000000
mean      38.582284     10.080590   1077.615172     87.306511
std       13.640665      2.572709   7385.402999    402.966116
min       17.000000      1.000000      0.000000      0.000000
25%       28.000000      9.000000      0.000000      0.000000
50%       37.000000     10.000000      0.000000      0.000000
75%       48.000000     12.000000      0.000000      0.000000
max       90.000000     16.000000  99999.000000   4356.000000

In [20]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 32560 entries, 0 to 32559
Data columns (total 15 columns):
 #   Column          Non-Null Count  Dtype
---  ------          --------------  -----
 0   39              32558 non-null  float64
 1    State-gov      32560 non-null  object
 2    77516          32560 non-null  object
 3    Bachelors      32560 non-null  object
 4    13             32560 non-null  int64
 5    Never-married  32559 non-null  object
 6    Adm-clerical   32560 non-null  object
 7    Not-in-family  32559 non-null  object
 8    White          32560 non-null  object
 9    Male           32560 non-null  object
 10   2174           32560 non-null  int64
 11   0              32560 non-null  int64
 12   40             32560 non-null  object
 13   United-States  32560 non-null  object
 14   <=50K          32560 non-null  object
dtypes: float64(1), int64(3), object(11)
memory usage: 3.7+ MB

Agregamos una fila header para que el dataset sea interpretado como una tabla

In [21]:
encabezado = ["age", "workclass", "fnlwgt", "education", "education-num", "marital-status", "occupation", "relationship", "race", "sex", "capital-gain", "capital-loss", "hours-per-week", "native-country", "valorant"]
#len(encabezado) : 15

In [22]:
df = pd.read_csv("prueba.csv", names=encabezado)
df.head()

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,valorant
0,39.0,State-gov,77516,Bachelors,13,Never-married,Adm-clerical,Not-in-family,White,Male,2174,0,40,United-States,<=50K
1,50.0,Self-emp-not-inc,83311,Bachelors,13,Married-civ-spouse,Exec-managerial,Husband,White,Male,0,0,13,United-States,<=50K
2,38.0,Private,215646,HS-grad,9,Divorced,Handlers-cleaners,Not-in-family,White,Male,0,0,40,United-States,<=50K
3,53.0,Private,234721,11th,7,Married-civ-spouse,Handlers-cleaners,Husband,Black,Male,0,0,40,United-States,<=50K
4,28.0,Private,338409,Bachelors,13,Married-civ-spouse,Prof-specialty,Wife,Black,Female,0,0,40,Cuba,<=50K

In [23]:
df.describe()

                age  education-num  capital-gain  capital-loss
count  32559.000000   32561.000000  32561.000000  32561.000000
mean      38.582297      10.080679   1077.648844     87.303830
std       13.640455       2.572720   7385.292085    402.960219
min       17.000000       1.000000      0.000000      0.000000
25%       28.000000       9.000000      0.000000      0.000000
50%       37.000000      10.000000      0.000000      0.000000
75%       48.000000      12.000000      0.000000      0.000000
max       90.000000      16.000000  99999.000000   4356.000000

In [58]:
if '?' in df.values:
    # reemplace "?" a NaN
    df.replace("?", np.nan, inplace = True)
elif ' ?' in df.values:
    # reemplace " ?" a NaN
    df.replace(" ?", np.nan, inplace = True)
elif ' ' in df.values:
    # reemplace " ?" a NaN
    df.replace(" ", np.nan, inplace = True)

In [59]:
print('?' in df.values)
print(' ?' in df.values)
print(' ' in df.values)

False
False
False

In [60]:
# buscando datos nulos

datos_faltantes = df.isnull()
datos_faltantes.head(10)

,age,workclass,fnlwgt,education,education-num,marital-status,occupation,relationship,race,sex,capital-gain,capital-loss,hours-per-week,native-country,valorant
0,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,False,False,False,False,False

In [61]:
for columna in datos_faltantes.columns.values.tolist():
    print('columna:',columna)
    print (datos_faltantes[columna].value_counts())
    print("")

columna: age
False    32561
Name: age, dtype: int64

columna: workclass
False    30723
True      1838
Name: workclass, dtype: int64

columna: fnlwgt
False    32559
True         2
Name: fnlwgt, dtype: int64

columna: education
False    32558
True         3
Name: education, dtype: int64

columna: education-num
False    32561
Name: education-num, dtype: int64

columna: marital-status
False    32558
True         3
Name: marital-status, dtype: int64

columna: occupation
False    30717
True      1844
Name: occupation, dtype: int64

columna: relationship
False    32558
True         3
Name: relationship, dtype: int64

columna: race
False    32560
True         1
Name: race, dtype: int64

columna: sex
False    32557
True         4
Name: sex, dtype: int64

columna: capital-gain
False    32561
Name: capital-gain, dtype: int64

columna: capital-loss
False    32561
Name: capital-loss, dtype: int64

columna: hours-per-week
False    32559
True         2
Name: hours-per-week, dtype: int64

columna: native-country
False    31978
True       583
Name: native-country, dtype: int64

columna: valorant
False    32560
True         1
Name: valorant, dtype: int64

In [62]:
# para el caso de la columna age se toma la decisi√≥n de calcular su promedio y utilizarlo en las 2 filas
age_pro = df["age"].astype("float").mean(axis=0)
age_pro_r = float(round(age_pro))
print("Promedio de age:", age_pro_r)

Promedio de age: 39.0

In [63]:
# reemplazamos 

df["age"].replace(np.nan, age_pro_r, inplace=True)

In [64]:
df['workclass'].unique()

array([' State-gov', ' Self-emp-not-inc', ' Private', ' Federal-gov',
       ' Local-gov', nan, ' Self-emp-inc', ' Without-pay',
       ' Never-worked'], dtype=object)